@font-face {
  font-family: 'avenir';
  src: url('../src/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
      url('../src/fonts/AvenirLTStd-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'avenir';
  src: url('../src/fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../src/fonts/AvenirLTStd-Book.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'avenir';
  src: url('../src/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('../src/fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "avenir";
  margin: 0;
  background-color: rgb(246, 230, 233);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none !important;
  text-transform: capitalize;
}

* {
  box-sizing: border-box;
}
